{templateType WebChemistry\DataView\Component\Template\InfiniteScrollTemplate}

{snippet}
	<div n:if="$nextLink" data-controller="infinite-scroll" data-infinite-scroll-offset-value="{$offset}" data-infinite-scroll-link-value="{$nextLink}"></div>
{/snippet}
